<div class="container col-md-8">
  <mat-card class="bg-warning">
    <mat-card-title>
        Enter Your Details...
    </mat-card-title>
    <hr>
    <mat-card-content class="py-4" style="background-color: rgb(255, 255, 255, 0.4)">
      <form #formN="ngForm" id="formN" (ngSubmit)="onSubmit(formN)">
        <p>
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>Name</mat-label>
            <input matInput #name="ngModel" name="name" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="contact.name" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <small [class.d-none]=" name.valid || name.untouched" class="text-danger">Name is required</small>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>Contact Number</mat-label>
            <input matInput #phone="ngModel" name="phone" type="number" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]="contact.phone" required>
            <mat-icon matSuffix>call</mat-icon>
            <!-- <small [class.d-none]=" phone.valid || phone.untouched" class="text-danger">Phone Number is required (must be 10 digits)</small> -->
            <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
                <small *ngIf=" phone.errors.required" class="text-danger">Phone Number is required</small>
                <small *ngIf=" phone.errors.pattern" class="text-danger">Phone Number must be of 10 digits</small>
            </div>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>Email</mat-label>
            <input matInput  #email="ngModel" name="email" email [class.is-invalid]="email.invalid && email.touched" type="text" [(ngModel)]="contact.email" required>
            <mat-icon matSuffix>contact_mail</mat-icon>
            <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required (Ex. abc@gmail.com)</small>
          </mat-form-field>
        </p>
        <button [disabled]="formN.form.invalid" mat-raised-button type="submit" class="btn btn-default bg-danger">
          <mat-label>Submit</mat-label>
          <mat-icon matSuffix>launch</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>