<div class="container row text-center mx-auto">
  <div class="col-md-4 mx-auto">
    <mat-card class="bg-warning">
      <mat-card-title>
        <u>
          Our Founder-Chairperson
        </u>
      </mat-card-title>
      <div class="mt-4 mx-5">
        <img mat-card-image src="../../../assets/images/mu.jpeg" width="80px" height="200px"
          style="border-radius: 50%">
      </div>
      <mat-card-content>
        <b>
          Mrs. Geeta Yadav
        </b>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 mx-auto">
    <mat-card class="bg-warning">
      <mat-card-title>
        <u>
          Our Co-founder
        </u>
      </mat-card-title>
      <div class="mt-4 mx-5">
        <img mat-card-image src="../../../assets/images/p.jpeg" width="80px" height="200px"
          style="border-radius: 50%">
      </div>
      <mat-card-content>
        <b>
          Mr. Raj Kumar Yadav
        </b>
      </mat-card-content>
    </mat-card>
  </div>
</div>