<div class="container row text-center mx-auto">
    <div class="col-md-4">
        <mat-card class="bg-warning">
            <mat-card-title>
                {{events[0].title}}
            </mat-card-title>
            <div class="mt-4 mx-3">
                <img mat-card-image src={{events[0].imagePath}} width="100%" height='relative'>
            </div>
            <mat-card-content>
                {{events[0].date}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="bg-warning">
            <mat-card-title>
                {{events[1].title}}
            </mat-card-title>
            <div class="mt-4 mx-3">
                <img mat-card-image src={{events[1].imagePath}} width="100%" height='relative'>
            </div>
            <mat-card-content>
                {{events[1].date}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="bg-warning">
            <mat-card-title>
                {{events[2].title}}
            </mat-card-title>
            <div class="mt-4 mx-3">
                <img mat-card-image src={{events[2].imagePath}} width="100%" height='relative'>
            </div>
            <mat-card-content>
                {{events[2].date}}
            </mat-card-content>
        </mat-card>
    </div>
</div>